:root {
  --base-font-size: 1rem;
  --font-color: #000;
  --font-color-highlight: #cdf3e1;
  --margin: 2rem;
  --padding: 2rem;
  --gap: 1rem;
  --border-radius: 0.25rem;
  --theme-body-bg: #fff;
  --theme-color-primary: #000;
  --theme-color-secondary: #555;
  --base-button-bg: #000;
  --base-button-color: #fff;
  --base-button-size: 100px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  font-family: "Roboto";
  color: var(--font-color);
  font-size: var(--base-font-size);
  width: 100%;
  height: 100%;
  background-color: var(--theme-body-bg);
  scroll-behavior: smooth;
}

.main {
  min-height: 100%;
  padding: var(--margin);
}

.wrapper {
  display: grid;
  row-gap: 2rem;

  padding: var(--margin);
  max-width: 456px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.title {
  font-size: 2rem;
}

.underlined {
  box-shadow: var(--font-color-highlight) 0px -2rem 0px inset;
}

.subtitle {
  font-size: 1.25rem;
}

.form {
  display: grid;
  row-gap: var(--gap);
}

.form__label {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: var(--gap);
}

.required::after {
  content: "*";
  font-size: 1rem;
  line-height: 1rem;
  color: red;
  font-weight: bold;
}

.input {
  height: 2rem;
  width: 100%;
  padding: calc(var(--padding) / 4);
  border: 1px solid var(--theme-color-primary);
  border-radius: var(--border-radius);
}

.textarea {
  padding: calc(var(--padding) / 4);
  border: 1px solid var(--theme-color-primary);
  border-radius: var(--border-radius);
}

.fieldset {
  border: 0;
}

.feedback {
  display: flex;
  justify-content: center;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
}

.rating > label {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: 0.3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.tags__wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  gap: var(--gap);

  padding: calc(var(--padding) / 2);
  margin: calc(var(--padding) / 2) 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  overflow-y: scroll;
  overscroll-behavior: contain;
  max-height: 320px;
}

.tags__wrapper::-webkit-scrollbar-track {
  margin: calc(var(--padding) / 2);
  border-radius: 10px;
  background-color: #fff;
}

.tags__wrapper::-webkit-scrollbar {
  width: 12px;
  background-color: #fff;
}

.tags__wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--theme-color-primary);
}

li {
  list-style: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="checkbox"] + .tag {
  display: block;

  color: inherit;
  font-size: inherit;
  font-family: inherit;

  border-radius: calc(var(--border-radius) * 4);
  border: 1px solid rgb(0, 0, 0);
  background-color: var(--theme-body-bg);
  padding: 0.3rem 1.25rem;
}

input[type="checkbox"]:checked + .tag {
  background-color: var(--font-color-highlight);
}

.submit {
  align-self: center;
  justify-self: end;

  color: var(--base-button-color);
  font-size: 1.25rem;
  font-family: inherit;

  background-color: var(--base-button-bg);
  border-radius: calc(var(--border-radius) * 4);
  border-color: var(--base-button-bg);
  padding: 0.75rem;
  outline: none;

  cursor: pointer;
}
